{% extends "base.html" %}
{% load i18n %}

{% block tags %}

    <script>
    {%  include "stores/TransactionStore.js" %}
    {%  include "stores/AccountStore.js" %}
    {%  include "tags/account-transactions.js" %}
    {%  include "tags/account-accounts.js" %}
    {%  include "tags/create-transaction.js" %}
    </script>
{% endblock %}

{% block content %}

    <div class="translations">
    <p>{%  trans "transaction" %}</p>
    <p>{%  trans "account" %}</p>
    <p>{%  trans "money" %}</p>
    <p>{%  trans "from" %}</p>
    <p>{%  trans "to" %}</p>

    </div>

    <div class="o-container o-container--super">
        <div class="o-grid o-grid--small-fit o-grid--medium-fit o-grid--large-full">
            <create-transaction></create-transaction>
        </div>
    </div>

    <div class="o-container o-container--super">
        <div class="o-grid o-grid--small-fit o-grid--medium-fit o-grid--large-full">

            <account-transactions></account-transactions>

            <account-accounts></account-accounts>
        </div>
    </div>
{% endblock %}

{%  block body_script %}
<script>
    riot.mount('account-accounts');
    riot.mount('account-transactions')
    riot.mount('create-transaction')
</script>
{%  endblock %}